<div class="text-center"><h1>Edit category</h1></div>
<div class="container">

<%= render "form" %>

<div class="d-flex justify-content-center m-5">
<%= link_to "[Cancel and return to category listing]",category_path(@category),class:'text-info' %>
</div>
</div>