<div class="text-center"><h1>Create a New category</h1></div>
<div class="container">

<%= render "form" %>

<div class="d-flex justify-content-center m-5">
<%= link_to "[Cancel and return to category listing]",categories_path,class:'text-info' %>
</div>

</div>